:root {
  --dark: #100d1f;
  --light: #ffffff;
  --highlight: #14e3be;
}
.navbar {
  background: var(--dark);
  width: 100%;
  padding: auto 30px;
}
.fix-top {
  transition: ease-in-out 500ms;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
nav ul {
  display: flex;
  grid-template-columns: 20px;
  justify-content: end;
  list-style: none;
  background-color: var(--dark);
}
nav ul li {
  display: block;
}
nav ul li a {
  text-decoration: none;
  color: var(--dark);
  padding: 5px;
}
nav ul li a:hover {
  background-color: var(--highlight);
  color: var(--dark);
  color: black;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#profile-img {
  display: block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}
.active {
  text-decoration: none;
  color: var(--dark) !important;
  background-color: var(--highlight);
}
#home {
  background-color: var(--dark);
  color: var(--light);
}
.heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.heading h1 {
  font-size: 32px;
  font-weight: 700;
}
.view-detail {
  width: 12rem;
  color: white;
  border: 1px solid var(--highlight);
}
.view-detail:hover {
  color: var(--dark);
  background-color: var(--highlight);
}
..view-detail .fa {
  transition: ease-in-out 300ms;
}
..view-detail:hover > .fa {
  transform: rotate(90deg);
}
#home::before {
  background-image: url();
}
#name {
  /* text-decoration: underline; */
  color: var(--highlight);
}
#about {
  background-color: var(--highlight);
}
@media screen and (max-width: 900px) {
  .heading-title {
    margin: auto;
  }
  .intro,
  .intro-text {
    text-align: center;
  }
  #name {
    display: block;
  }
  .view-detail {
    margin: auto;
  }
}

.bouncing-btn {
  border: none !important;
  margin: auto !important;
  text-decoration: none;
  background: none;
  color: var(--light);
  font-size: 20px;
  width: 20px;
  animation: ease-in bounce 5000ms infinite;
}
.fa-arrow-down {
  margin-top: 5px;
  font-size: 20px;
  color: var(--highlight);
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
